<template>
  <div>
    <CardDeck :phases="phases" />
  </div>
</template>

<script>
import CardDeck from "card_deck.vue";
export default {
  components: {
    CardDeck
  },
  props: {
    phases: {
      type: Array,
      required: true
    }
  },
}
</script>

<style scoped></style>