<template>
  <div>
    <div class="card-deck">
      <div 
        v-for="phase in phases"
        :key="phase.id"
      >
        <div
          class="card bg-light mb-3"
          style="max-width: 18rem;"
        >
          <CardHeader :title="phase.title" />
          <Draggable
            :list="phase.tasks"
            group="tasks"
            :data-phase-id="phase.id"
            @change="log"
            @end="handleDragEnd($event)"
          >
            <div 
              v-for="task in phase.tasks"
              :key="task.id"
              class="shadow-sm p-4 m-1 bg-white rounded" 
            >
              #{{ task.id }} 
              <a
                id="edit-title"
                data-toggle="modal"
                :data-target="'#taskEditModel-' + phase.id + '-' + task.id"
                href="/make_it_quick/index"
              >
                {{ task.title }}
              </a>

              <TaskEditModal
                :phaseid="phase.id"
                :taskid="task.id"
                :tasktitle="task.title"
              />
            </div>   
          </Draggable>

          <AppendCardForm :id="phase.id" />
        </div>
      </div>

      <AppendPhaseForm />
    </div>
  </div>
</template>

<script>
import Draggable from "vuedraggable";
import axios from "axios";
import AppendPhaseForm from "components/append_phase_form";
import CardHeader from "components/card_header";
import AppendCardForm from "components/append_card_form";
import TaskEditModal from "components/task_edit_modal";

export default {
  name: "TaskLists",
  display: "Task Lists",
  order: 1,
  components: {
    Draggable,
    AppendPhaseForm,
    CardHeader,
    AppendCardForm,
    TaskEditModal,
  },
  props: {
    phases: {
      type: Array,
      required: true
    }
  },
  data: function(){
    return {
      data_phases: this.phases
    }
  },
  methods: {
    handleDragEnd: function(evt) {
      this.phases.forEach(phase =>
      axios.patch('/phases/' + phase.id,
        {
          phase:phase
        })
      );
    },
    log: function(evt) {
      window.console.log(evt);
    }
  }
};
</script>