<template>
  <form
    action="/phases"
    accept-charset="UTF-8"
    method="post"
  >
    <input
      id="phase_title"
      type="text"
      class="form-control"
      name="phase[title]"
      placeholder="Edit"
    >
    <button
      type="submit"
      class="btn btn-link"
    >
      フェーズを追加
    </button>
  </form>
</template>

<script>
export default {
  name: "AppendPhaseForm",
  display: "Append Phase Form",
};
</script>