<template>
  <form
    :action="'/phases/' + id + '/tasks'"
    accept-charset="UTF-8"
    method="post"
  >
    <input
      id="task_title"
      type="text"
      class="form-control"
      name="task[title]"
      placeholder="Edit"
    >
    <button
      type="submit"
      class="btn btn-link"
    >
      カードを追加
    </button>
  </form>
</template>

<script>
export default {
  name: "AppendCardForm",
  display: "Append Card Form",
  order: 1,
  props: {
    id: {
      type: Number,
      required: true
    }
  }
};
</script>