<template>
  <div class="card-header">
    <div class="d-flex justify-content-between">
      {{ title }} 
      <i class="fas fa-bars" />
    </div>
  </div>
</template>

<script>
export default {
  name: "CardHeader",
  display: "Card Header",
  order: 1,
  props: {
    title: {
      type: String,
      required: true
    }
  }
};
</script>