<template>
  <div
    :id="'taskEditModel-' + phaseid + '-' + taskid"
    tabindex="-1"
    class="modal fade"
    aria-labelledby="taskEditModalLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5
            id="taskEditModalLabel"
            class="modal-title"
          >
            編集
          </h5>
          <button
            type="button"
            class="close"
            data-dismiss="modal"
            aria-label="Close"
          >
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="mb-3">
            <label
              for="task-title"
              class="col-form-label"
            >
              Title:
            </label>
            <form
              :action="'/phases/' + phaseid + '/tasks/' + taskid"
              accept-charset="UTF-8"
              method="post"
            >
              <input
                type="hidden"
                name="_method"
                value="patch"
              >
              <input
                id="task-title"
                type="text"
                class="form-control"
                name="task[title]"
                :value="tasktitle"
              >
              <button
                type="submit"
                class="btn btn-secondary"
              >
                保存
              </button>
            </form>
          </div>
        </div>        
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: "TaskEditModal",
  display: "Task Edit Modal",
  order: 1,
  props: {
    phaseid: {
      type: Number,
      required: true
    },
    taskid: {
      type: Number,
      required: true
    },
    tasktitle: {
      type: String,
      required: true
    },
  }
};
</script>
