<nav class="navbar navbar-light bg-light">
    <form class="form-inline">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</nav>

<%= javascript_pack_tag 'draggable_card' %>
<%= content_tag :div, '', id: "entry-list", data: { phases: @phases.to_json(include: :tasks) } %>